<div class="contents">
  <div class="input_time">
  <%= form_with model: @study, url: study_path do |f| %>
    <h3>
      今日の日付を入力してください
    </h3>
    <%= f.date_select :date %>
    <h3>
      今日のプログラミング学習時間を入力してください
    </h3>
    <%= f.text_area :time, placeholder: "小数点第一位まで可！", size: "40x5" %>
    <%= f.submit "送信",class: 'submit_btn' %>
  <% end %>
  </div>
</div>